body {
    margin:0.5;
}

.nav-container {
    display: flex;
    flex-direction: row;
    width :100%;
    margin: 0;
    padding: 0;
    background-color:beige;
    list-style-type: none;
}

.nav-item {
    padding: 15px;
    cursor: pointer;
}
